<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
	<defaultDocument enabled="true">    <!-- this line enables default documents for a directory -->
        	<files>      
            		<clear/>     <!-- removes the existing default document list -->                
            		<add value="front.php?url=index"/>
         	</files>
    </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Main Rule" stopProcessing="true">
                    <match url="(.+)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="front.php?url={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>